inst/doc
.cache/
*.tar.gz
*.Rcheck/
leedstrams.Rcheck/
..Rcheck/
tiles_merged_*.tif
tiles_merged_*.tif.aux.xml
*.tif.aux.xml
*.aux.xml
leeds_townplan_test.tif
leeds_townplan.tif
.Rhistory
.Rproj.user/
*.Rproj
docs
